*,
*:before,
*:after	{
	text-align: center;
	}
	
body	{
	font-size: 1rem;
	font-weight: 450;
	line-height: 1.2;
	margin: 1rem;
	}

/* mobile friendly alternative to using background-attachment: fixed */
body::before	{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: linear-gradient( 50deg, rgba(25, 25, 25, 0.65), rgba(25, 25, 25, 0.65) ), url(survey1.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	}

.myContainer	{
	width: 100%;
	margin: 3.25rem auto 0 auto;
	}

.align-center	{
	text-align: center;
	}

@media (min-width: 580px)	{
	.myContainer	{
		max-width: 520px;
		}
	}

@media (min-width: 780px)	{
	.myContainer	{
		max-width: 720px;
		}
	}

@media (min-width: 480px)	{
	form	{
		padding: 1.5rem;
		}
	}


.superset	{
	margin-left: 0.25rem;
	font-size: 0.9rem;
	color: #e4e4e4;
	}

label	{
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	}

input,
button,
select,
textarea	{
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	}
.form-questions	{
	margin: 0 auto 1.25rem auto;
	padding: 0.25rem;
}

.input-textarea	{
	min-height: 120px;
	width: 90%;
	padding: 0.625rem;
	resize: vertical;
	}

.input-radio,
.input-checkbox	{
	display: inline-block;
	margin-right: 0.625rem;
	min-height: 1.25rem;
	min-width: 1.25rem;
}



.submit-button	{
	display: block;
	width: 100%;
	padding: 0.75rem;
	background: var(--color-green);
	color: inherit;
	border-radius: 2px;
	cursor: pointer;
	}

