html	{
	font-size : 62.5%
	}
body	{
	font-family: "Times New Roman", Times, serifArial, Helvetica, sans-serif;
	font-size: 1.6rem;
	line-height: 2;
	color: black;
	margin: 0;
	text-align: center;
	}
h1	{
	font-size: 4rem;
	margin-bottom: 0;
	}

h2	{
	font-size: 3.25rem;
	}

@media (max-width: 499px)	{
	h1	{
	font-size: 5rem;
	line-height: 1.3;
	}
}
				
@media (max-width: 499px)	{
	#img-caption	{
	font-size: 1.4rem;
	}
}

#main	{
	margin: 2rem 0.5rem;
	padding: 1rem;
	border-radius: 5px;
	background: #faebd7;
}

@media (max-width: 475px)	{
	#main {
		margin: 0;
	}
}

#list-top	{
	margin: 3rem 0;
	text-align: center;
	}

ul	{
	max-width: 32rem;
	margin: 0 auto 3rem auto;
	text-align: left;
	line-height: 1.5;
	}

li	{
	margin: 18px 0;
	}

a:link	{
	color: green;
	background-color: transparent;
	text-decoration: none;
}

a:visited	{
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

a:hover	{
	color: red;
	background-color: transparent;
	text-decoration: underline;
}

a:active	{
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}

img	{
	max-width: 50%;
	display: block;
	height: auto;
	margin-left: 62rem ;
}

#img-div	{
	background: white;
	padding: 25px 25px 25px 350px ;
	margin-left: 100px;
	margin-right: 100px;
}

#img-caption	{
	margin: 0 35rem 0 0;
}


