svg	{
	width : 20rem;
	}

body	{
	padding: 0 0.67rem;
	font-family: 'Roboto',sans-serif;
	}
	
header	{
	position: sticky;
	top: 0;
	display : flex;
	justify-content : space-between;
	}
	
@media (max-width: 768px)	{
	header	{
		flex-direction : column ;
		}
	}

form	{
	text-align : center ;
	}
	
input	{
	padding: 0.66rem;
	border-radius:  0.67rem;
	}

section	{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
	overflow: hidden;
	margin-bottom: 1.34rem;
	}
	
iframe	{
	position: absolute;
	width : 100%;
	height : 100%;
	top: 1rem;
	left: 1rem;
	bottom: 1rem;
	right: 1rem;
	}
	
a	{
	text-decoration : none;
	color: black;
	margin-right: 2rem;
	}
	
ul	{
	display : flex;
	list-style : none;
	}
	

